.header {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;

}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

a,
.description {
    color: #e5e5e5;
}

.section1 {
    display: flex;
    padding: 15%;
    gap: 25px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.signup {
    display: flex;
    background-color: #3882f6;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

.image1 {
    flex: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 50%;
    justify-content: center;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 32px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.section2 {
    text-align: center;
    padding-bottom: 100px;
}

.info {
    max-width: 150px;
}

.section3 {
    background: #e5e7eb;
    display: flex;
    flex-flow: column wrap;
    padding-left: 20%;
    padding-right: 20%;
    padding: 10%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    flex: 100%;
}

.speaker {
    font-weight: bold;
    font-size: 25px;
    align-self: flex-end;
    flex: 100%;
}

.section4 {
    background-color: #3882f6;
    margin: 100px auto;
    padding: 25px;
    border-radius: 8px;
    max-width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
}

.section4 .signup {
    margin: 5px;
    border-style: solid;
    border-color: white;
    align-self: flex-end;
}

.action {
    font-weight: bolder;
    font-size: 20px;
}

.clicking {
    font-size: 15px;
}

.cta {
    flex-basis: 100%;
    gap: 15px;
}

.footer {
    background-color: #1f2937;
    font-size: 16px;
    text-align: center;
    padding: 2%;
    color: white;
}

.haha {
    display: flex;
}

img {
    border-radius: 15%;
}